<div>
    <div class="combine px-4 py-2">
        <div class="logos">
            <a [routerLink]="['']"> <img src="../../../assets/images/logo.png" class="logo"></a>
        </div>
        <div>
            <p class="logo-title">HOSPITAL</p>
        </div>
        <div class="renderbutton">
            <a class="px-2 py-1 logout" (click)="logout()"><span class="fa fa-sign-out"></span> </a> &nbsp;
        </div>
    </div>
</div>
  <div class="container-fluid">
    <div class="row">
        <!-- <ng-container *ngIf="role === 'Admin'"> -->
        <ng-container class="sidecontainer position-static" >
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <div class="pt-3">
                        <div class="card" style="width: 11rem;">
                            <img src="../../../assets/images/pending.svg" class="card-img-top px-2 py-2" style="width: 170px;height:150px;">
                            <div class="card-body text-center">
                            <a href="#" class="btn btn-primary text-center pnd">Pending</a>
                            </div>
                        </div>
                    </div>
                    <div class="py-3">
                        <div class="card" style="width: 11rem;">
                            <img src="../../../assets/images/active.svg" class="card-img-top px-2 py-2" style="width: 170px;height:150px;">
                            <div class="card-body text-center">
                            <a href="#" class="btn btn-primary text-center px-4 act">Active</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </ng-container>
  
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Hi,{{fullName}}Dashboard</h1>
            </div>
            
            



            <h2>Employee List</h2><br>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Firstname</th>
                            <th scope="col">Lastname</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users; let i= index">
                            <td>{{i+1}}</td>
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.email}}</td>
                        </tr>
  
                    </tbody>
                </table>
            </div>

        <!-- <ng-container *ngIf="role === 'Admin'"> -->
        <ng-container>
            <p>pending doctor</p>
                <div >
                    <table class="custom-table bg-light">
                        <thead>
                            <tr>
                                <th>Doctor Id</th>
                                <th>Doctor Name</th>
                                <th>Doctor Email</th>
                                <th>Doctor Phone</th>
                                <th>Doctor Specialization</th>
                                <th>Doctor Experience</th>
                                <th>Actions Approve</th>
                                <th>Actions Dismissed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of pendingdtr">
                                <tr>
                                    <td>{{item.id}}</td>
                                    <td>{{item.firstName}}</td>
                                    <td>{{item.email}}</td>
                                    <td>{{item.phone}}</td>
                                    <td>{{item.specialization}}</td>
                                    <td>{{item.experience}}</td>
                                    <td><a class="px-2 py-1 checks" (click)="addpendoctor(item)"><span class="fa fa-check"></span> </a></td>
                                    <td><a class="px-2 py-1 deletes" (click)="deletependoctor(item)"><span class="fa fa-trash"></span> </a></td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>


                <p>Approved Doctors</p>
                <div >
                    <table class="custom-table">
                        <thead>
                            <tr>
                                <th>Doctor Id</th>
                                <th>Doctor Name</th>
                                <th>Doctor Email</th>
                                <th>Doctor Phone</th>
                                <th>Doctor Specialization</th>
                                <th>Doctor Experience</th>
                                <th>Actions Dismissed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of approveddoctor">
                                <tr>
                                    <td>{{item.id}}</td>
                                    <td>{{item.firstName}}</td>
                                    <td>{{item.email}}</td>
                                    <td>{{item.phone}}</td>
                                    <td>{{item.specialization}}</td>
                                    <td>{{item.experience}}</td>
                                    <td><a class="px-2 py-1 deletes" (click)="deleteapproveddoctor(item)"><span class="fa fa-trash"></span> </a></td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </ng-container>

        </main>
    </div>
  </div>
  