<div>
    <div class="combine px-4 py-2">
        <div class="logos">
            <a [routerLink]="['']"> <img src="../../../assets/images/logo.png" class="logo"></a>
        </div>
        <div>
            <p class="logo-title">HOSPITAL</p>
        </div>
        <div class="renderbutton">
            <a class="px-2 py-1 logout" (click)="logout()"><span class="fa fa-sign-out"></span> </a> &nbsp;
        </div>
    </div>
</div>
  <div class="container-fluid">
    <div class="row">
  
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 ">
            
            <ng-container>

                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                </div>
    
                <div class="row">
                    <div class="row "><h3 class=" sect1 ">Check your appointment<hr></h3></div>
                    <div class="d-flex justify-content-around ">
                        <div>                
                            <form class="px-1 ">
                                <div class="row">
                                    <div class="col"><label for="username" class="namespc">UserName:</label></div>
                                    <div class="col pt-4"><input type="text" [(ngModel)]="username" placeholder="Entey your username" class="inp" name="Specialization" id="Specialization"></div>
                                </div>
                                <div class="row">
                                    <div class="col"><label for="email" class="namespc">Email:</label>
                                    </div>
                                    <div class="col pt-4"><input type="email" [(ngModel)]="email" placeholder="Entey your email" class="inp" name="Specialization" id="Specialization"><br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col "><button type="button" (click)="check()" class="button">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div >
                            <table class="custom-table">
                                <thead>
                                    <tr>
                                        <th>patient Id</th>
                                        <th>patient fixed date</th>
                                        <th>problem</th>
                                        <th>Phone</th>
                                        <th>location</th>
                                        <th>gender</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let item of appointmnts">
                                        <tr>
                                            <td>{{item.appointmentId}}</td>
                                            <td>{{item.date}}</td>
                                            <td>{{item.problem}}</td>
                                            <td>{{item.phone}}</td>
                                            <td>{{item.location}}</td>
                                            <td>{{item.gender}}</td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
    
                <div class="row "><h3 class=" sect1  py-4">Patients<hr></h3></div>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Firstname</th>
                                <th scope="col">Lastname</th>
                                <th scope="col">Email</th>
                                <th scope="col">Gender</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users; let i= index">
                                <td>{{i+1}}</td>
                                <td>{{user.firstName}}</td>
                                <td>{{user.lastName}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.gender}}</td>
                            </tr>
      
                        </tbody>
                    </table>
                </div>
            </ng-container>

            <ng-container *ngIf="role === 'Admin'">
                <div class="py-3 bg-light">
                        <div class="row "><h3 class=" sect1  py-4"> <img src="../../../assets/images/pending.svg" style="width: 100px;height: 100px;"> pending doctor<hr></h3> </div>
                        <table class="custom-table bg-light">
                            <thead>
                                <tr>
                                    <th>Doctor Id</th>
                                    <th>Doctor Name</th>
                                    <th>Doctor Email</th>
                                    <th>Doctor Phone</th>
                                    <th>Doctor Specialization</th>
                                    <th>Doctor Experience</th>
                                    <th>Actions Approve</th>
                                    <th>Actions Dismissed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let item of pendingdtr">
                                    <tr>
                                        <td>{{item.id}}</td>
                                        <td>{{item.firstName}}</td>
                                        <td>{{item.email}}</td>
                                        <td>{{item.phone}}</td>
                                        <td>{{item.specialization}}</td>
                                        <td>{{item.experience}}</td>
                                        <td><a class="px-2 py-1 checks" (click)="addpendoctor(item)"><span class="fa fa-check"></span> </a></td>
                                        <td><a class="px-2 py-1 deletes" (click)="deletependoctor(item)"><span class="fa fa-trash"></span> </a></td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                    <div class="py-5" >
                        <div class="row "><h3 class=" sect1  py-4"><img src="../../../assets/images/active.svg" style="width: 100px;height: 100px;">Approved Doctors<hr></h3></div>

                        <table class="custom-table">
                            <thead>
                                <tr>
                                    <th>Doctor Id</th>
                                    <th>Doctor Name</th>
                                    <th>Doctor Email</th>
                                    <th>Doctor Phone</th>
                                    <th>Doctor Specialization</th>
                                    <th>Doctor Experience</th>
                                    <th>Actions Dismissed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let item of approveddoctor">
                                    <tr>
                                        <td>{{item.id}}</td>
                                        <td>{{item.firstName}}</td>
                                        <td>{{item.email}}</td>
                                        <td>{{item.phone}}</td>
                                        <td>{{item.specialization}}</td>
                                        <td>{{item.experience}}</td>
                                        <td><a class="px-2 py-1 deletes" (click)="deleteapproveddoctor(item)"><span class="fa fa-trash"></span> </a></td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                    <section class="bg-light pt-4">
                        <div class="row "><h3 class=" sect1 "><img src="../../../assets/images/updatedoctor.svg" style="width: 100px;height: 100px;">Update approved Doctor Details<hr></h3></div>
                        <form >
                            <label for="DoctorId"> DoctorID : </label>
                            <input type="number" id="id" name="id" [(ngModel)]="id" > 
                            <label for="experience"> Experience : </label>
                            <input type="number" id="experience" [(ngModel)]="DocUpdate.experience" [ngModelOptions]="{standalone: true}">
                            <label for="phone"> Phone : </label>
                            <input id="phone" type="number" [(ngModel)]="DocUpdate.phone" [ngModelOptions]="{standalone: true}">
                                <br>
                            <p class="text-center py-4"><button class="btns" type="button" (click)="Updatedoctorbyid()">Update</button></p>
                        </form>
                    </section>
            </ng-container>
            
        </main>
    </div>
  </div>
  <footer id="contact" class="bg-dark ">
    <div class="foter">
      <div class="container fotr ">
        <div class="row py-5">
          <div class="col-1"></div>
          <div class="col"><strong style="text-decoration: underline;">About</strong><br><br>
            <a href="">About Us</a><br>
            <a href="">Hospital</a><br>
            <a href="">Team Members</a><br>
            <a href="">Offers</a><br>
            <a href="">Help Group</a><br>
          </div>
          <div class="col"><strong style="text-decoration: underline;">Service</strong><br><br>
            <a href="">Appointment Booking</a><br>
            <a href="">Online Booking</a><br>
            <a href="">Policy Agree</a><br>
            <a href="">Breakage</a><br>
            <a href="">Charity Policy</a><br>
          </div>
          <div class="col"><strong style="text-decoration: underline;">Quick Links</strong><br><br>
            <a href="">Medical & Services</a><br>
            <a href="">Forthcomming Offers</a><br>
            <a href="">Online Booking</a><br>
            <a href="">Security Policy</a><br>
          </div>
          <div class="col"><strong style="text-decoration: underline;">Address</strong><br><br>
            <a ><img src="../../../assets/images/logo_icons/map.png" class="px-2"  >Sivagangai-630441</a><br>
            <a ><img src="../../../assets/images/logo_icons/phone.png" class="px-2" >9876123490</a><br>
            <a ><img src="../../../assets/images/logo_icons/mail.png" class="px-2" >admin12@gmail.com</a><br>
          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-2"></div>
            <div class="col">
                <div class="footercombine">
                    <div class="px-3">
                        <img src="../../../assets/images/logo.png" alt="" style="width: 50px;height: 50px;">
                    </div>
                    <div>
                        <p class="pt-2">Hospital</p>
                    </div>
                </div>
            </div>
            <div class="col text-white pt-2">
                Designed by @balan.2023,copyrights reserved.
            </div>
        </div>
      </div>
    </div>
</footer>
  