body{
    background-image: url(../../../assets/images/patientdashboard.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; 
    background-size: cover;   
}
.dark{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
}
.combine{
    display: flex;
    margin-left: 30px;
}
.logo{
    width: 50px;
    height: 50px;
    margin-top: 10px;

}
.logo-title{
    margin-top: 20px;
    font-weight: bolder;
    color: white;
    margin-left: 5px;
}
.renderbutton{
    margin-top: 20px;
    position: absolute;
    right: 10px;
}
.logout{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 4px;
    border-radius: 9px;
    font-weight: 500;
}
.logout:hover{
    color: white;
    background-color: #0392ce;
}
.mainheading{
    margin-top: 150px;
}
.totalbox{
    margin-top: 120px;
}
.box-combine{
    display: flex;
}
.box2{
    background: #0392ce;
    width: 300px;
    height: 200px;
    position: relative;
    margin-top: 50px;
    margin-left: 60px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}
.make-appointment{
    margin-left: 43%;
    margin-top: 20%;
}
.make-text{
    text-align: center;
    color: white;
    font-size: 20px;
}
.box3{
    background: #ffffff;
    margin-top: 50px;
    width: 800px;
    height: 200px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}
.box8{
    margin-top: 18px;
    background: #0392cf;
    border-radius: 20px;
    width: 50px;
    height: 140px;
    position: relative;
}
.sendimg{
    margin-top:55px;
}
.lable{
    color: #0392ce;
}
.section1{
    margin-top: 150px;
}
.box9{
    margin-top: 60px;
    background: #d9d9d9;
    width: 250px ;
    height: 300px;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.nearestdoctorimg{
    margin-top: -100px;
    width: 250px ;
    height: 350px;
}
.custom-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
  .custom-table th,
  .custom-table td {
    padding: 10px;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  .custom-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .custom-table tr:hover {
    background-color: #e6e6e6;
  }
  .namespc{
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 50px;
  }
  .inp{
    border-radius: 5px;
  }
  .button {
    margin-top: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 13px;
  }
  
  .button:hover {
    background-color: #2980b9;
  }
  .fac1{
    display: flex;
}
.foter {
    
    width: 100%;
    
    .fotr{
        color: #ffffff;
    }
    .col a{
        color: #ffffff;
        text-decoration: none;
    }
    .copyryt{
        font-size: 12px;
    }
    .footercombine{
        display: flex;
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 100px; /* Set the maximum height to enable scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    width: 190px;
  }
  
  li {
    padding: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
    white-space: nowrap; /* Prevent line breaks within suggestions */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Show ellipsis (...) for overflowed text */
  }
  
  li:hover {
    background-color: #e9e9e9;
  }
  .cardimges{
    width: 180px;
    height: 230px;
  }
 
  
  





  
  