<div class="container-fluid">
    <div class="row rows">
        <div class="col-7 column1">
            <div class="combine">
                <div class="logos">
                    <a [routerLink]="['']"> <img src="../../../assets/images/logo.png" class="logo"></a>
                </div>
                <div>
                    <p class="logo-title">HOSPITAL</p>
                </div>
            </div>
            <div id="carouselExampleInterval" class="carousel slide carosl" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="../../../assets/images/caro1.svg" class="d-block w-100 caro1" alt="...">
                        <p class="text1" >"Personal health records"</p>
                        <p class="text2"> Patients can view and manage their medical records, including diagnoses, medications, allergies, vaccination history, and past treatments.</p>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="../../../assets/images/caro2.svg" class="d-block w-100 caro1" alt="...">
                        <p class="text1" >"Appointments"</p>
                        <p class="text2"> Patients may be able to schedule, reschedule, or cancel appointments with their healthcare providers through the portal.</p>
                    </div>
                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>

        <div class="col-5 column2">
            <div class="panel-body p-3">
                <h3 class="pt-3 font-weight-bold">Sign-up</h3>
                <p class="loginsubhead">**Patients will have unique login credentials (username and password) to access their personal health information. This ensures privacy and confidentiality.</p>
            
                <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="px-4">
                     <div class="form-group pt-3">
                        <div class="input-field" [class.error]="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required','firstName')"> <span class="fa fa-user p-2"></span> <input formControlName="firstName" type="text" placeholder="First Name"> </div>
                    </div>
                    <small *ngIf="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required','firstName')" class="text-danger">*First Name is required*</small>
                    <div class="form-group pt-3">
                        <div class="input-field" [class.error]="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required','lastName')"> <span class="fa fa-user p-2"></span> <input formControlName="lastName" type="text" placeholder="Last Name"> </div>
                    </div>
                    <small *ngIf="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required','lastName')" class="text-danger">*Last Name is required*</small>
                    <div class="form-group pt-3">
                        <div class="input-field" [class.error]="signUpForm.controls['userName'].dirty && signUpForm.hasError('required','userName')"> <span class="fa fa-user p-2"></span> <input formControlName="userName" type="text" placeholder="User Name"> </div>
                    </div>
                    <small *ngIf="signUpForm.controls['userName'].dirty && signUpForm.hasError('required','userName')" class="text-danger">*Username is required*</small>
                    <div class="form-group pt-3">
                        <div class="input-field" [class.error]="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')"> <span class="fa fa-user p-2"></span> <input formControlName="email" type="text" placeholder="Email"> </div>
                    </div>
                    <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')" class="text-danger">*Email is required*</small>
                    <div class="form-group pt-3">
                        <div class="input-field" [class.error]="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')"> <span class="fa fa-lock px-2"></span> <input formControlName="password" [type]="type" placeholder="Password"> <button (click)="hideShowPass()" type="button" class="bg-white text-muted"> <span class="fa {{eyeIcon}}"></span> </button>                                    </div>
                    </div>
                    <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')" class="text-danger">*Password is required*</small>
                    
                    <div class="form-group pt-3">
                        <div class="input-field" [class.error]="signUpForm.controls['gender'].dirty && signUpForm.hasError('required', 'gender')">
                            <span class="fa fa-calendar p-2"></span>
                            <input formControlName="gender" type="text" placeholder="Gender">
                        </div>
                    </div>
                    <small *ngIf="signUpForm.controls['gender'].dirty && signUpForm.hasError('required', 'gender')" class="text-danger">*Gender is required*</small>

                    <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Signup</button>
                    <div class="text-center pt-4 text-muted">Already have an account? <a id="forgot" routerLink="/patientlogin" href="#">Login</a> </div>
                </form>
            </div>
        </div>
    </div>
    
</div>
